/*COLORES*/
/*COLORES*/
/*TEXTOS y BORDES*/
/*MEDIDAS/*

/*FUENTES*/
/*FUENTES*/
/*MAPAS*/
@import url("https://fonts.googleapis.com/css2? family= Merriweather & display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*COMIENZO DEL HEADER*/
header {
  background-image: linear-gradient(to top, #053707, #266112, #4e8e19, #7dbc1a, #b3eb12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 155px;
  z-index: 1; }
  header .nav1 {
    list-style-type: none;
    text-align: center;
    padding-top: 50px;
    margin-top: 0%; }
    header .nav1 .logo {
      width: 13%; }
      header .nav1 .logo .infonutri {
        margin-top: -5%;
        padding-top: 0%;
        margin-left: 5%;
        height: 8%;
        width: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.45); }
    header .nav1 ul {
      width: 99%;
      justify-content: end; }
      header .nav1 ul .nav2 {
        background-color: #dae968;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.45);
        font-size: 1rem;
        font-weight: bold;
        margin-left: 1%; }
        header .nav1 ul .nav2:hover {
          background: #d8df04;
          box-shadow: 0 0 5px #faf8f8, 0 0 25px #fffdfd, 0 0 50px #faf9f9, 0 0 200px #fffefe;
          transition: .4s ease-in; }
        header .nav1 ul .nav2 .nav5 {
          background-color: #dae968;
          width: 300%;
          font-weight: bold; }
          header .nav1 ul .nav2 .nav5:hover {
            background: #dae968; }

.infonutri {
  margin-top: -5%;
  padding-top: 0%;
  margin-left: 5%;
  height: 8%;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45); }

.logo {
  width: 13%; }

/*FIN DEL HEADER*/
/* PAGINA DE INICIO*/
.main1 {
  background-image: url("../assets/images/FONDOS/fondo 1.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.nutricion {
  padding-top: 0%; }

.nutricion1 {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 0%;
  font-size: 3rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px; }

.nutricion2 {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 20px 20px;
  padding-bottom: 0px 0px;
  font-size: 15px;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex;
  justify-content: space-between; }

.nutricion2 img {
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  flex-wrap: wrap;
  float: right;
  margin-left: 10%; }

h1 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: bold; }

h2 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  margin: 8%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20vh; }

h3 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  margin: 8%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20vh; }

h4 {
  color: #09c80f;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: "Merriweather", serif; }

.p1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
  padding-top: 0%;
  margin: 0%;
  font-weight: bold;
  margin-bottom: 0vh;
  text-align: justify; }

.p2 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
  padding-top: 0%;
  margin: 0%;
  font-weight: bold;
  margin-bottom: 0vh;
  text-align: justify; }

.galeria {
  margin-left: 28%;
  margin-top: 5%;
  padding-bottom: 20%;
  padding-top: 10%;
  width: 20%;
  height: 20%; }

.galeria1 {
  box-shadow: rgba(0, 0, 0, 0.45);
  background-color: #dae968;
  border-radius: 5px;
  font-size: 3rem;
  line-height: 1.5; }

.galeria2 {
  text-align: center; }

.galeria3 {
  margin-left: 10%;
  margin-top: 0%;
  height: 80%;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.45); }

.galeria3:hover {
  background: #0fc7c1;
  box-shadow: 0 0 5px #faf8f8, 0 0 25px #fffdfd, 0 0 50px #faf9f9, 0 0 200px #fffefe;
  transition: .2s ease-in; }

.galeria4 {
  margin-left: 50%;
  margin-top: -42.3%;
  padding-bottom: 0%;
  padding-top: 2%;
  width: 20.5%;
  height: 20%; }

.galeria5 {
  margin-left: 39%;
  margin-top: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  width: 20%;
  height: 20%; }

/* FIN DEL MAIN Y PAGINA DE "INICIO" */
/*PAGINA DE "NOSOTROS"*/
.main2 {
  background-image: url("../assets/images/FONDOS/fondo 2.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.testicuadro1 {
  width: 32%;
  margin-left: 10%;
  margin-top: 10%;
  padding: 0.5%;
  padding-top: 1%;
  padding-bottom: 0px 0px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  object-fit: cover; }

.testicuadro2 {
  width: 30%;
  margin-left: 55%;
  margin-top: -31%;
  padding: 0.5%;
  padding-bottom: 0px 0px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  object-fit: cover; }

.testicuadro3 {
  width: 35%;
  margin-left: 10%;
  margin-top: 10%;
  padding: 10px;
  padding-bottom: 0px 0px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  object-fit: cover; }

.testicuadro4 {
  width: 30%;
  margin-top: -38%;
  padding: 10px;
  padding-bottom: 0px 0px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  margin-left: 55%;
  object-fit: cover; }

.testicuadro5 {
  padding-bottom: 8%; }

.testimonio1 {
  margin-left: 30%;
  height: 220px;
  width: 220px; }

.testimonio2 {
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
  text-align: center; }

.testimonio3 {
  font-size: 2rem;
  text-align: center; }

/*PAGINA DE "NOSOTROS"*/
/*PAGINA DE "GRUPOS"*/
.main5 {
  background-image: url("../assets/images/FONDOS/fondo verduras.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main6 {
  background-image: url("../assets/images/FONDOS/fondo frutas.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main7 {
  background-image: url("../assets/images/FONDOS/fondo lacteos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main8 {
  background-image: url("../assets/images/FONDOS/fondo aceite.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main9 {
  background-image: url("../assets/images/FONDOS/fondo legumbres.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main10 {
  background-image: url("../assets/images/FONDOS/fondo grasas.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main11 {
  background-image: url("../assets/images/FONDOS/fondo carne.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.video {
  width: 30%;
  margin-bottom: 10%;
  margin-left: 35%;
  margin-top: 10%;
  padding: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex; }

.video2 {
  margin-left: 0%;
  background-color: #060606;
  padding: 0.5%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  margin-top: 2%;
  margin-bottom: 0%; }

/*PAGINA DE "GRUPOS"*/
/*PAGINA DE "IMC"*/
.main3 {
  background-image: url("../assets/images/FONDOS/fondo 3.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.imc1 {
  margin-left: 5%; }

.imc2 {
  padding-bottom: 5%; }

.boton {
  background-color: #dae968;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  margin-left: 37%;
  margin-top: 10%;
  margin-bottom: 2%;
  width: 200px;
  height: 100px;
  font-size: 1rem;
  font-weight: bold; }

.manzanaimc {
  margin-left: 50%;
  height: 12%;
  width: 12%;
  margin-top: -10%; }

/*PAGINA DE "IMC"*/
/*PAGINA DE "CONTACTO"*/
.main4 {
  background-image: url("../assets/images/FONDOS/fondo 4.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.infonutri2 {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  width: 50%;
  margin-left: 25%;
  margin-bottom: 0%;
  margin-top: 0%; }

.tabla {
  background-color: #dae968;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  padding: 0%;
  padding-bottom: 15%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  height: 40%;
  width: 40%;
  margin-left: 30%;
  font-size: 1rem;
  margin-top: 8%;
  margin-bottom: -10%;
  font-weight: bold; }

.tabla4 {
  background-color: #dae968;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  font-weight: bold;
  margin-bottom: 0%;
  margin-left: 45%;
  margin-top: 0%;
  width: 10%;
  height: 10%; }

.mensaje {
  margin-left: 0%; }

.mensaje1 {
  padding-top: 2%;
  margin-top: 2.5%; }

.mensaje2 {
  padding-bottom: 15%;
  margin-top: 1%; }

.mensaje3 {
  padding-top: 2%;
  margin-top: 2.5%; }

.tabla5 {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45); }

.boton2 {
  height: 50PX;
  width: 100PX;
  margin-left: 47%;
  margin-top: 5%; }

.mapa {
  margin-left: 0%;
  background-color: #060606;
  padding: 0.5%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45);
  margin-top: 2%;
  margin-bottom: 0%;
  width: 100%;
  height: 30%; }

/* PAGINA DE "CONTACTO"*/
/*COMIENZO DEL FOOTER*/
footer {
  background-image: linear-gradient(to top, #053707, #266112, #4e8e19, #7dbc1a, #b3eb12);
  width: 100%;
  height: 50%;
  padding-bottom: 5%; }
  footer .red {
    list-style-type: none; }
  footer .red1 {
    margin-left: 0%;
    margin-bottom: -4%;
    display: inline-block; }
  footer .red2 {
    margin-bottom: -8%;
    margin-left: 0%;
    display: inline-block; }
  footer .red3 {
    margin-left: 0%;
    margin-bottom: -12%;
    display: inline-block; }
  footer .copy {
    text-align: center;
    margin-left: -3%;
    font-weight: bold;
    margin-bottom: 0%;
    padding-bottom: -10%; }
  footer .logowpp {
    bottom: 30px;
    right: 30px;
    position: fixed;
    line-height: 55px; }
  footer .wpp {
    margin-left: 90%;
    list-style-type: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 55px; }

/*FIN DEL FOOTER*/
/* INICIO (CELULAR O PANTALLAS MENORES A 768PX) */
@media (max-width: 412px) {
  header .nav1 .logo {
    width: 45%;
    margin-top: 5%; }
    header .nav1 .logo .infonutri {
      width: 100%;
      height: 40%;
      margin-top: -20%; }
  h1 {
    font-size: 1rem; }
  .nutricion {
    padding-top: 40%; }
  .nutricion1 {
    font-size: 2rem;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0%; }
  .nutricion2 {
    width: 100%;
    margin-left: 3%;
    margin-top: 10%;
    font-size: 5px;
    line-height: 1.5;
    text-align: justify;
    display: flex;
    justify-content: space-between; }
  .nutricion7 {
    margin-bottom: 10%;
    width: 80%;
    margin-left: 12%;
    margin-top: 10%;
    padding: 20px 20px; }
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 1rem; }
  h3 {
    font-size: 1rem;
    margin-bottom: 10vh; }
  h4 {
    font-size: 1.1rem; }
  .p1 {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    text-align: center;
    padding-right: 3%;
    padding-top: 5%;
    font-weight: bold;
    margin-bottom: 0vh;
    text-align: justify; }
  .nav2 {
    margin-left: 0%; }
  .tabla {
    height: 90%;
    width: 90%;
    margin-left: 5%; }
  .galeria {
    margin-left: 17%;
    margin-top: 0%;
    width: 65%;
    height: 65%; }
  .galeria4 {
    margin-left: 20%;
    margin-top: 0%;
    width: 60%;
    height: 60%; }
  .galeria5 {
    margin-left: 20%;
    margin-top: 0%;
    width: 60%;
    height: 60%; }
  .tabla4 {
    width: 30%;
    margin-left: 36%; }
  footer .red1 {
    margin-left: -8%;
    margin-bottom: -3%;
    width: 8%; }
  footer .red2 {
    margin-bottom: -7%;
    margin-left: -8%;
    width: 8%; }
  footer .red3 {
    margin-left: -8%;
    margin-bottom: -13%;
    width: 8%; }
  footer .wpp {
    margin-bottom: -10%;
    width: 8%; }
  footer .copy {
    margin-top: 10%; } }

/* fINAL (CELULAR O PANTALLAS MENORES A 768PX) */
