/*COMIENZO DEL HEADER*/


header {
    background-image: $color-gradiente;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 155px;
    z-index: 1;

    .nav1 {
        list-style-type: none;
        text-align: $texto-centrado;
        padding-top: 50px;
        margin-top: 0%;

        .logo {
            width: 13%;

            .infonutri {
                margin-top: -5%;
                padding-top: 0%;
                margin-left: 5%;
                height: 8%;
                width: 100%;
                border-radius: $bordes;
                box-shadow: $color-shadow;
            }
        }


        ul {
            width: 99%;
            justify-content: end;

            .nav2 {
                background-color: $color-primario;
                border-radius: $bordes;
                box-shadow: $color-shadow;
                font-size: map-get($map: $fuentes, $key: s);
                font-weight: $color-texto;
                margin-left: 1%;

                &:hover {
                    background: map-get($map: $color-hover, $key: hover1);
                    box-shadow: $color-shadow2;
                    transition: .4s ease-in;
                }

                .nav5 {
                    background-color: $color-primario;
                    width: 300%;
                    font-weight: $color-texto;

                    &:hover {
                        background: $color-primario;

                    }
                }
            }
        }
    }
}

/*FIN DEL HEADER*/