/* INICIO (CELULAR O PANTALLAS MENORES A 768PX) */

@media (max-width: 412px) {

/*HEADER*/
header {   
        .nav1 {
            .logo { 
                .infonutri {
                    width: 350%;
                    height: 350%;  
                }
            }
            ul {
                width: 100%;
                justify-content: end;
                .nav2 {
                    .nav5 {
                       
                    }   
                }
            }
        }
    }
/*HEADER*/



    .nutricion {
        padding-top: 40%;
    }

    .nutricion1 {
        font-size: map-get($map: $fuentes, $key: l);
        width: 80%;
        margin-left: 10%;
        margin-bottom: 0%;
    }

    .nutricion2 {
        width: 100%;
        margin-left: 0%;
        margin-top: 10%;
        font-size: 5px;
        padding-bottom: 12%;
        line-height: $interlineado;
        text-align: justify;
        display: flex;
        justify-content: space-between;
    }

    .nutricion3 {
        margin-left: 2.5%;
         }


    h1 {
        font-size: map-get($map: $fuentes, $key: l);
    }

    h2 {
        font-size: map-get($map: $fuentes, $key: s);
    }

    h3 {
        font-size: map-get($map: $fuentes, $key: s);
        margin-bottom: 10vh;
    }

    h4 {
        font-size: 1.1rem;
    }

    .h5{
        font-size: map-get($map: $fuentes, $key: m);
        font-weight: $color-texto;
    }

    .p1 {
        font-size: map-get($map: $fuentes, $key: s);
        font-family: $fuente-primaria;
        text-align: $texto-centrado;
        padding-right: 3%;
        padding-top: 5%;
        font-weight: $color-texto;
        margin-bottom: 0vh;
        text-align: justify;
    }

  /*PAGINA DE "NOSOTROS"*/

  .testicuadro1 {
    margin-left: 8%;
    margin-top: 10%;
    width: 85%;
    height: 85%;
    margin-bottom: 8%;
  }

  .testicuadro2 {
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 8%;
    width: 85%;
    height: 85%;
  }

  .testicuadro3 {
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 8%;
    width: 85%;
    height: 85%;
  }

  .testicuadro4 {
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 8%;
    width: 85%;
    height: 85%;
  }
  .testimonio1 {
      margin-left: 25%;
      height: 30%;
      width: 50%;
  }

   .testimonio2{
    text-align: $texto-centrado;
   }

   .testimonio3 {
       font-size: map-get($map: $fuentes, $key: m);
    }

 /*PAGINA DE "NOSOTROS"*/

 /*PAGINA DE "INICIO"*/

    .galeria {
        margin-left: 17%;
        margin-top: 0%;
        width: 65%;
        height: 65%;
    }

    .galeria4 {
        margin-left: 17%;
        margin-top: 0%;
        margin-bottom: 8%;
        width: 65%;
        height: 65%;
    }

    .galeria5 {
        margin-left: 17%;
        margin-top: 0%;
        width: 65%;
        height: 65%;
    }

/*PAGINA DE "INICIO"*/
 
/*PAGINA "GRUPOS"*/

    .galeria6 {
        margin-left: 17%;
        margin-top: 0%;
        width: 65%;
        height: 65%;
        }
    
    .galeria7 {
        margin-left: 17%;
        margin-top: 0%;
        margin-bottom: 8%;
        width: 65%;
        height: 65%;
        }

     .galeria8 {
        margin-left: 17%;
        margin-top: 0%;
        margin-bottom: 8%;
        width: 65%;
        height: 65%;
        }

    .video{
        margin-left: 5%;
        width: 90%;
    }    

    .video2 {
             margin-left: 10%;
         }

/*PAGINA "GRUPOS"*/

/*PAGINA "IMC"*/

.boton{
    width: 40%;
    height: 100%;
    margin-left: 10%;
    margin-top: 40%;
}

.manzanaimc {
    margin-left: 55%;
    height: 50%;
    width: 30%; 
}

/*PAGINA "IMC"*/


  .tabla {
      height: 90%;
      width: 90%;
      margin-left: 5%;
  }

    .tabla4 {
        width: 30%;
        margin-left: 36%;
    }

    footer {
        .red1 {
            margin-left: -8%;
            margin-bottom: -3%;
            width: 8%;
        }

        .red2 {
            margin-bottom: -7%;
            margin-left: -8%;
            width: 8%;
        }

        .red3 {
            margin-left: -8%;
            margin-bottom: -13%;
            width: 8%;
        }

        .wpp {
            margin-bottom: -10%;
            width: 8%;
        }

        .copy {
            margin-top: 10%;
        }

    }

}

/* fINAL (CELULAR O PANTALLAS MENORES A 768PX) */