/* INICIO (CELULAR O PANTALLAS MENORES A 768PX) */

@media (max-width: 412px) {

/*HEADER*/
header {   
        .nav1 {
            .logo { 
                .infonutri {
                    width: 350%;
                    height: 350%;  
                }
            }
            ul {
                width: 100%;
                justify-content: end;
                .nav2 {
                    .nav5 {
                       
                    }   
                }
            }
        }
    }

.menu{
background-color: #dae968;
}

/*HEADER*/

    .nutricion {
        padding-top: 40%;
    }

    .nutricion1 {
        font-size: map-get($map: $fuentes, $key: m);
        width: 80%;
        margin-left: 10%;
        margin-bottom: 0%;
    }

    .nutricion2 {
        width: 100%;
        margin-left: 0%;
        margin-top: 10%;
        font-size: 5px;
        padding-bottom: 12%;
        line-height: $interlineado;
        text-align: justify;
        display: flex;
        justify-content: space-between;
    }

    .nutricion3 {
        margin-left: 2.5%;
         }


    h1 {
        font-size: map-get($map: $fuentes, $key: m);
    }

    h2 {
        font-size: map-get($map: $fuentes, $key: m);
    }

    h3 {
        font-size: map-get($map: $fuentes, $key: m);
        margin-bottom: 10vh;
    }

    h4 {
        font-size: 1.1rem;
    }


    .p1 {
        font-size: map-get($map: $fuentes, $key: s);
        font-family: $fuente-primaria;
        text-align: $texto-centrado;
        padding-right: 3%;
        padding-top: 5%;
        font-weight: $color-texto;
        margin-bottom: 0vh;
        text-align: justify;
    }

    /*PAGINA DE "INICIO"*/
    
.galeria {
    margin-left: 17%;
    margin-top: 0%;
    width: 65%;
    height: 65%;
         }
    
.galeria4 {
    margin-left: 17%;
    margin-top: 0%;
    margin-bottom: 8%;
    width: 65%;
    height: 65%;
         }
    
.galeria5 {
    margin-left: 17%;
    margin-top: 0%;
    width: 65%;
    height: 65%;
         }
    
  /*PAGINA DE "INICIO"*/

  /*PAGINA DE "NOSOTROS"*/

  .testicuadro1 {
    margin-left: 8%;
    margin-top: 10%;
    width: 85%;
    height: 85%;
    margin-bottom: 8%;
  }

  .testicuadro2 {
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 8%;
    width: 85%;
    height: 85%;
  }

  .testicuadro3 {
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 8%;
    width: 85%;
    height: 85%;
  }

  .testicuadro4 {
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 8%;
    width: 85%;
    height: 85%;
  }
  .testimonio1 {
      margin-left: 25%;
      height: 30%;
      width: 50%;
  }

   .testimonio2{
    text-align: $texto-centrado;
   }

   .testimonio3 {
       font-size: map-get($map: $fuentes, $key: m);
    }

 /*PAGINA DE "NOSOTROS"*/
 
/*PAGINA "GRUPOS"*/

    .galeria6 {
        margin-left: 17%;
        margin-top: 0%;
        width: 65%;
        height: 65%;
        }
    
    .galeria7 {
        margin-left: 17%;
        margin-top: 0%;
        margin-bottom: 8%;
        width: 65%;
        height: 65%;
        }

     .galeria8 {
        margin-left: 17%;
        margin-top: 0%;
        margin-bottom: 8%;
        width: 65%;
        height: 65%;
        }

    .video{
        margin-left: 5%;
        width: 90%;
    }    

    .video2 {
             margin-left: 10%;
         }

/*PAGINA "GRUPOS"*/

/*PAGINA "IMC"*/

.boton{
    width: 40%;
    height: 100%;
    margin-left: 10%;
    margin-top: 40%;
}

.manzanaimc {
    margin-left: 55%;
    height: 50%;
    width: 30%; 
}

/*PAGINA "IMC"*/

/*PAGINA "CONTACTO"*/

  .tabla {
      height: 95%;
      width: 90%;
      margin-left: 5%;
  }

  .tabla1{
    height: 10%;
    padding-top: 10%;
  }

  .texto {
      margin-top: 3%;
      padding-top: 10%;
  }

  .mensaje1 {
      margin-top: 6%;
  }

  .mensaje1-1 {
      padding-top: 10%;
      margin-top: -1.5%;
  }

  .mensaje2 {
      margin-top: 3%;
  }

  .mensaje1-2 {
      padding-top: 10%;
      margin-top: -4%;
  }

  .mensaje3 {
      margin-top: 3%;
  }

  .mensaje1-3 {
      padding-top: 10%;
      margin-top: -2%;
  }

  .mensaje4 {
      padding-bottom: 30%;
      margin-top: 5%;
  }

  .mensaje1-4 {
      padding-top: 10%;
      margin-top: 5%;
  }

    .boton2 {
        width: 30%;
        height: 40%;
        margin-left: 0%;
        margin-top: 25%;
    }

    .mapa{
        width: 80%;
        height: 50%;
        margin-left: 11%;
    }

    .mapa2 {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        }

    .p2 {
        font-size: map-get($map: $fuentes, $key: s);
        font-family: $fuente-primaria;
        text-align: $texto-centrado;
        padding-right: 3%;
        padding-top: 5%;
        font-weight: $color-texto;
    }
     
    .titulo{
        margin-left: 15%;
    }

    .titulo2{
        margin-left: 17%;
    }

/*PAGINA "CONTACTO"*/

    footer {
        .red1 {
            margin-left: -8%;
            margin-bottom: -3%;
            width: 8%;
        }

        .red2 {
            margin-bottom: -7%;
            margin-left: -8%;
            width: 8%;
        }

        .red3 {
            margin-left: -8%;
            margin-bottom: -13%;
            width: 8%;
        }

        .wpp {
            margin-bottom: -10%;
            width: 8%;
        }

        .copy {
            margin-top: 10%;
        }

    }

}

/* fINAL (CELULAR O PANTALLAS MENORES A 768PX) */