$color-primario: #dae968;

@import url("https://fonts.googleapis.com/css2? family= Merriweather & display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*COMIENZO DEL HEADER*/
header {
  background-image: linear-gradient(to bottom, #053707, #266112, #4e8e19, #7dbc1a, #b3eb12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 155px;
  z-index: 1; 
    .nav1 {
        list-style-type: none;
        text-align: center;
        padding-top: 50px;
        margin-top: 0%;
        .infonutri {
            margin-top: -5%;
            padding-top: 0%;
            margin-left: 5%;
            height: 8%;
            width: 100%;
            border-radius: 5px;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            .logo {
                width: 13%;
                ul {
                    width: 99%;
                    justify-content: end;
                    .nav2 {
                        background-color: #dae968;
                        border-radius: 5px;
                        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                        font-size: 1rem;
                        font-weight: bold;
                        margin-left: 1%;
                        &:hover {
                            background: #d8df04;
                            box-shadow: 0 0 5px #faf8f8, 0 0 25px #fffdfd, 0 0 50px #faf9f9, 0 0 200px #fffefe;
                            transition: .4s ease-in;
                            .nav3 {
                                background-color: #dae968;
                                border-radius: 5px;
                                box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                                font-size: 1rem;
                                font-weight: bold;
                                margin-left: 1%;
                                .nav5 {
                                    background-color: #dae968;
                                    width: 300%;
                                    font-weight: bold;
                                    &:hover {
                                        background: #15eb05;
                                        box-shadow: 0 0 5px #faf8f8, 0 0 25px #fffdfd, 0 0 50px #faf9f9, 0 0 200px #fffefe;
                                        transition: .4s ease-in;
                                     }
                                }
                            }
                        }
                    }
                }
            }
                    
        }
    }
                                                           
}
/*FIN DEL HEADER*/

/*COMIENZO DEL MAIN - PAGINA DE INICIO*/

.main1 {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    background-image: url("../assets/images/FONDOS/fondo/1.webp");
    background-color: rgba(11, 11, 11, 0.25);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    .nutricion {
        padding-top: 0%;
        .nutricion1 {
            width: 50%;
            margin-left: 25%;
            margin-top: 20%;
            margin-bottom: 0%;
            font-size: 3rem;
            line-height: 1.5;
            background-color: #dae968;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            border-radius: 5px;
                h1 {
                    font-size: 3rem;
                    font-family: 'Merriweather', serif;
                    text-align: center;
                    font-weight: bold;
            }
        }
    }
}

.nutricion2 {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  padding: 20px 20px;
  padding-bottom: 0px 0px;
  font-size: 15px;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex;
  justify-content: space-between; 
    .nutricion2 img {
        width: 350px;
        height: 250px;
        border-radius: 5px;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        display: flex;
        flex-wrap: wrap;
        float: right;
        margin-left: 10%;
        .p1 {
                font-size: 2rem;
                font-family: 'Merriweather', serif;
                text-align: center;
                padding-top: 0%;
                margin: 0%;
                font-weight: bold;
                margin-bottom: 0vh;
                text-align: justify;
        }
    }
}

h2 {
    font-size: 3rem;
    font-family: 'Merriweather', serif;
    margin: 8%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20vh;
        .nutricion1 {
            width: 50%;
            margin-left: 25%;
            margin-top: 20%;
            margin-bottom: 0%;
            font-size: 3rem;
            line-height: 1.5;
            background-color: #dae968;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            border-radius: 5px;
            .nutricion2 {
                    width: 50%;
                    margin-left: 25%;
                    margin-top: 10%;
                    padding: 20px 20px;
                    padding-bottom: 0px 0px;
                    font-size: 15px;
                    line-height: 1.5;
                    background-color: #dae968;
                    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                    border-radius: 5px;
                    text-align: justify;
                    display: flex;
                    justify-content: space-between;
                    .nutricion2 img {
                            width: 350px;
                            height: 250px;
                            border-radius: 5px;
                            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                            display: flex;
                            flex-wrap: wrap;
                            float: right;
                            margin-left: 10%;
                                .p1 {
                                    font-size: 2rem;
                                    font-family: 'Merriweather', serif;
                                    text-align: center;
                                    padding-top: 0%;
                                    margin: 0%;
                                    font-weight: bold;
                                    margin-bottom: 0vh;
                                    text-align: justify;
                }
            } 
        }    
    }
}

h3{
    font-size: 3rem;
        font-family: 'Merriweather', serif;
        margin: 8%;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20vh;;

    .nutricion1 {
        width: 50%;
        margin-left: 25%;
        margin-top: 20%;
        margin-bottom: 0%;
        font-size: 3rem;
        line-height: 1.5;
        background-color: #dae968;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        border-radius: 5px;

        .nutricion2 {
            width: 50%;
            margin-left: 25%;
            margin-top: 10%;
            padding: 20px 20px;
            padding-bottom: 0px 0px;
            font-size: 15px;
            line-height: 1.5;
            background-color: #dae968;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            border-radius: 5px;
            text-align: justify;
            display: flex;
            justify-content: space-between;

            .nutricion2 img {
                width: 350px;
                height: 250px;
                border-radius: 5px;
                box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                display: flex;
                flex-wrap: wrap;
                float: right;
                margin-left: 10%;

                .p1 {
                    font-size: 2rem;
                    font-family: 'Merriweather', serif;
                    text-align: center;
                    padding-top: 0%;
                    margin: 0%;
                    font-weight: bold;
                    margin-bottom: 0vh;
                    text-align: justify;
                }
            }
        }
    }
}

.galeria {
    margin-left: 30%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 20%;
    height: 20%;
        .galeria1 {
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            background-color: rgb(218, 233, 104);
            border-radius: 5px;
            font-size: 3rem;
            line-height: 1.5;
                .galeria2 {
                    text-align: center;
                       .galeria3 {
                           margin-left: 10%;
                            margin-top: 0%;
                            height: 80%;
                            width: 80%;
                            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                                &:hover {
                                   background: #0fc7c1;
                                   box-shadow: 0 0 5px #f7f5f5, 0 0 25px #fbf9f9, 0 0 50px #fbfafa, 0 0 200px #f1efef;
                                   transition: .2s ease-in;
                }
                    
            }
        }
    }
}   

.galeria4 {
    margin-left: 52%;
    margin-top: -40.5%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 20.5%;
    height: 20%;
        .galeria1 {
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            background-color: rgb(218, 233, 104);
            border-radius: 5px;
            font-size: 3rem;
            line-height: 1.5;
            .galeria2 {
                text-align: center;
                .galeria3 {
                        margin-left: 10%;
                        margin-top: 0%;
                        height: 80%;
                        width: 80%;
                        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                        &:hover {
                            background: #0fc7c1;
                            box-shadow: 0 0 5px #f7f5f5, 0 0 25px #fbf9f9, 0 0 50px #fbfafa, 0 0 200px #f1efef;
                            transition: .2s ease-in;
                 }
            }
        }
    }
}

.galeria5 {
    margin-top: -10%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 20%;
    height: 20%;

    .galeria1 {
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        background-color: rgb(218, 233, 104);
        border-radius: 5px;
        font-size: 3rem;
        line-height: 1.5;

        .galeria2 {
            text-align: center;

            .galeria3 {
                margin-left: 10%;
                margin-top: 0%;
                height: 80%;
                width: 80%;
                box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);

                &:hover {
                    background: #0fc7c1;
                    box-shadow: 0 0 5px #f7f5f5, 0 0 25px #fbf9f9, 0 0 50px #fbfafa, 0 0 200px #f1efef;
                    transition: .2s ease-in;
                }
            }
        }
    }
}

.nutricion8 {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: 3rem;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px; 
}


h4 {
  color: #09c80f;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: 'Merriweather', serif; }

/* FIN DEL MAIN Y PAGINA DE "INICIO" */

/*PAGINA DE "NOSOTROS"*/

 .main2 {
     background-image: url("../assets/images/FONDOS/fondo/2.webp");
    

     .nutricion {
        padding-top: 0%;

        .nutricion1 {
            width: 50%;
            margin-left: 25%;
            margin-top: 20%;
            margin-bottom: 0%;
            font-size: 3rem;
            line-height: 1.5;
            background-color: #dae968;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            border-radius: 5px;

            .nutricion2 {
                width: 50%;
                margin-left: 25%;
                margin-top: 10%;
                padding: 20px 20px;
                padding-bottom: 0px 0px;
                font-size: 15px;
                line-height: 1.5;
                background-color: #dae968;
                box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                border-radius: 5px;
                text-align: justify;
                display: flex;
                justify-content: space-between;

                    .nutricion2 img {
                        width: 350px;
                        height: 250px;
                        border-radius: 5px;
                        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                        display: flex;
                        flex-wrap: wrap;
                        float: right;
                        margin-left: 10%;
                        .p1 {
                            font-size: 2rem;
                            font-family: 'Merriweather', serif;
                            text-align: center;
                            padding-top: 0%;
                            margin: 0%;
                            font-weight: bold;
                            margin-bottom: 0vh;
                            text-align: justify;
                    }
                }
            }     
        }
    }    
 }

 .testicuadro5 {
      padding-bottom: 8%;

      .testicuadro1 {
        width: 32%;
        margin-left: 10%;
        margin-top: 10%;
        padding: 0.5%;
        padding-top: 1%;
        padding-bottom: 0px 0px;
        font-size: 15px;
        line-height: 1.5;
        background-color: #dae968;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        text-align: justify;
        display: flex;
        justify-content: space-between;

        .testimonio1 {
                margin-left: 30%;
                height: 220px;
                width: 220px;
                .testimonio3 {
                    font-size: 1.5rem;
                    text-align: center;
            }
                .testimonio2 {
                     text-align: left;
                    font-weight: bold;
                    font-size: 2.0rem;
                    text-align: center;
            }
        }
    }
}

 .testicuadro5 {
     padding-bottom: 8%;

     .testicuadro2 {
        width: 30%;
        margin-left: 55%;
        margin-top: -26%;
        padding: 0.5%;
        padding-bottom: 0px 0px;
        font-size: 15px;
        line-height: 1.5;
        background-color: #dae968;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        text-align: justify;
        display: flex;
        justify-content: space-between;

         .testimonio1 {
             margin-left: 30%;
             height: 220px;
             width: 220px;

             .testimonio3 {
                 font-size: 1.5rem;
                 text-align: center;
             }

             .testimonio2 {
                 text-align: left;
                 font-weight: bold;
                 font-size: 2.0rem;
                 text-align: center;
             }
         }
     }
 }

  .testicuadro5 {
      padding-bottom: 8%;

      .testicuadro3 {
        width: 30%;
        margin-left: 10%;
         margin-top: 10%;
        padding: 10px;
        padding-bottom: 0px 0px;
        font-size: 15px;
        line-height: 1.5;
        background-color: #dae968;
         box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        text-align: justify;
        display: flex;
        margin-bottom: 5%;

          .testimonio1 {
              margin-left: 30%;
              height: 220px;
              width: 220px;

              .testimonio3 {
                  font-size: 1.5rem;
                  text-align: center;
              }

              .testimonio2 {
                  text-align: left;
                  font-weight: bold;
                  font-size: 2.0rem;
                  text-align: center;
              }
          }
      }
  }

.testicuadro5 {
       padding-bottom: 8%;

       .testicuadro4 {
        width: 30%;
        margin-top: -33%;
        padding: 10px;
        padding-bottom: 0px 0px;
        font-size: 15px;
        line-height: 1.5;
        background-color: #dae968;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        text-align: justify;
        display: flex;
        justify-content: space-between;
        margin-left: 55%;
        object-fit: cover;

           .testimonio1 {
               margin-left: 30%;
               height: 220px;
               width: 220px;

               .testimonio3 {
                   font-size: 1.5rem;
                   text-align: center;
               }

               .testimonio2 {
                   text-align: left;
                   font-weight: bold;
                   font-size: 2.0rem;
                   text-align: center;
               }
           }
       }
   }

/*PAGINA DE "NOSOTROS"*/

/*PAGINA DE "GRUPOS"*/

/* MAINS DE TODAS LAS PAGINA DE "GRUPOS"*/

.main5 {
    background-image: url("../assets/images/FONDOS/fondo/verduras.jpg");
}

.main6 {
    background-image: url("../assets/images/FONDOS/fondo/frutas.jpg");
}

.main7 {
    background-image: url("../assets/images/FONDOS/fondo/lacteos.jpg");
}

.main8 {
    background-image: url("../assets/images/FONDOS/fondo/aceite.jpg");
}

.main9 {
    background-image: url("../assets/images/FONDOS/fondo/legumbres.webp");
}

.main10 {
    background-image: url("../assets/images/FONDOS/fondo/grasas.jpg");
}

.main11 {
    background-image: url("../assets/images/FONDOS/fondo/ carne.jpg");
}

/*MAINS DE TODAS LAS PAGINA DE "GRUPOS"*/

.video {
  width: 30%;
  margin-bottom: 10%;
  margin-left: 35%;
  margin-top: 10%;
  padding: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 15px;
  line-height: 1.5;
  background-color: #dae968;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  display: flex; }
  

/*PAGINA DE "GRUPOS"*/

/*PAGINA DE "IMC"*/

.main3 {
    background-image: url("../assets/images/FONDOS/fondo/3.webp");
    .boton {
        background-color: #dae968;
        border-radius: 5px;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        margin-left: 37%;
        margin-top: 10%;
        margin-bottom: 2%;
        width: 200px;
        height: 100px;
        font-size: 1rem;
        font-weight: bold;
        }
    .imc2 {
        padding-bottom: 5%;
        .manzanaimc {
            margin-left: 50%;
            height: 12%;
            width: 12%;
            margin-top: -10%;
        }
    }
}

.nutricion3 img {
  width: 50%;
  height: 40%;
  border-radius: 5px;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-left: 3%;
    .imc1 {
        margin-left: 5%;
    }
}


/*PAGINA DE "IMC"*/

/*PAGINA DE "CONTACTO"*/

.main4 {
    background-image: url("../assets/images/FONDOS/fondo/4.webp");

        .nutricion1 {
            width: 50%;
            margin-left: 25%;
            margin-top: 20%;
            margin-bottom: 0%;
            font-size: 3rem;
            line-height: 1.5;
            background-color: #dae968;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            border-radius: 5px;      
    }
}

form{

    .tabla {

        background-color: #dae968;
        border-radius: 5px;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        padding: 0%;
        padding-bottom: 15%;
        padding-top: 1%;
        padding-left: 5%;
        padding-right: 5%;
        height: 40%;
        width: 40%;
        margin-left: 30%;
        font-size: 1rem;
        margin-top: 8%;
        margin-bottom: -10%;
        font-weight: bold;

            .mensaje {
                margin-left: 0%;

                .mensaje1 {
                    padding-top: 2%;
                    margin-top: 2.5%;
                }
                .mensaje2 {
                    padding-bottom: 15%;
                    margin-top: 1%;
                }
                .mensaje3 {
                    padding-top: 2%;
                    margin-top: 2.5%;
            }
        }
    }
}

.nutricion2 {
    margin-bottom: 10%;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    padding: 20px 20px;
    padding-bottom: 0px 0px;
    font-size: 15px;
    line-height: 1.5;
    background-color: #dae968;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    text-align: justify;
    display: flex;
    justify-content: space-between;

        .mapa {
            margin-left: 0%;
            background-color: #060606;
            padding: 0.5%;
            border-radius: 5px;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
            margin-top: 2%;
            margin-bottom: 0%;
            width: 100%;
            height: 30%;
    }
}

.tabla4 {
  background-color: #dae968;
  border-radius: 1PX;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  font-weight: bold;
  margin-bottom: 0%;
  margin-left: 45%;
  margin-top: 0%;
  width: 10%;
  height: 10%; }


/* PAGINA DE "CONTACTO"*/

/*FIN DEL MAIN*/

/*COMIENZO DEL FOOTER*/

footer {
    background-image: linear-gradient(to top, #053707, #266112, #4e8e19, #7dbc1a, #b3eb12);
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
    .red {
        list-style-type: none;
            .red1 {
                margin-left: 0%;
                margin-bottom: -4%;
                display: inline-block;
        }
    }      
}

.red {
    list-style-type: none;

    .red2 {
        margin-bottom: -8%;
        margin-left: 0%;
        display: inline-block;
    }
}

.red {
    list-style-type: none;

    .red3 {
        margin-left: 0%;
        margin-bottom: -12%;
        display: inline-block;
    }
}

footer {
    background-image: linear-gradient(to top, #053707, #266112, #4e8e19, #7dbc1a, #b3eb12);
    width: 100%;
    height: 50%;
    padding-bottom: 5%;

    .wpp {
        margin-left: 90%;
        list-style-type: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
        line-height: 55px;

        .logowpp {
            bottom: 30px;
            right: 30px;
            position: fixed;
            line-height: 55px;
        }
    }
}

footer {
    background-image: linear-gradient(to top, #053707, #266112, #4e8e19, #7dbc1a, #b3eb12);
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
    .copy {
        text-align: center;
        margin-left: -3%;
        font-weight: bold;
        margin-bottom: 0%;
        padding-bottom: -10%;
    }
}

/*FIN DEL FOOTER*/

/* INICIO (CELULAR O PANTALLAS MENORES A 768PX) */

@media (max-width: 412px)
 {
  .infonutri {
    width: 100%;
    height: 40%;
    margin-top: -20%; }

  .logo {
    width: 45%;
    margin-top: 5%; }

  h1 {
    font-size: 1rem; }

.nutricion {
    padding-top: 40%; 
        .nutricion1 {
            font-size: 2rem;
            width: 80%;
            margin-left: 10%;
            margin-bottom: 0%;
    }
}
  
  .nutricion2 {
    width: 100%;
    margin-left: 3%;
    margin-top: 10%;
    font-size: 5px;
    line-height: 1.5;
    text-align: justify;
    display: flex;
    justify-content: space-between; }
  
  h1 {
    font-size: 2rem; }

  h2 {
    font-size: 1rem; }

  h3 {
    font-size: 1rem;
    margin-bottom: 10vh; }

  h4 {
    font-size: 1.1rem; }

  .p1 {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-right: 3%;
    padding-top: 5%;
    font-weight: bold;
    margin-bottom: 0vh;
    text-align: center;
    text-align: justify; 
}

  .nav2 {
    margin-left: 0%; }

  .tabla {
    height: 90%;
    width: 90%;
    margin-left: 5%; }

  .galeria {
    margin-left: 17%;
    margin-top: 0%;
    width: 65%;
    height: 65%; }

  .galeria4 {
    margin-left: 20%;
    margin-top: 0%;
    width: 60%;
    height: 60%; }

  .galeria5 {
    margin-left: 20%;
    margin-top: 0%;
    width: 60%;
    height: 60%; }

  .tabla4 {
    width: 30%;
    margin-left: 36%; }

    footer{
        .red1 {
                margin-left: -8%;
                margin-bottom: -3%;
                width: 8%;
        }
        
        .red2 {
                margin-bottom: -7%;
                margin-left: -8%;
                width: 8%;
        }
        
        .red3 {
                margin-left: -8%;
                margin-bottom: -13%;
                width: 8%;
        }

    }
  

    footer{
        .wpp {
            margin-bottom: -10%;
        }
        
        .copy {
            margin-top: 10%;
        }

    }
  
}

/* fINAL (CELULAR O PANTALLAS MENORES A 768PX) */
